n8n/ingestion-workflow.json
{
  "name": "OCR Ingestion Pipeline",
  "nodes": [
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        0,
        0
      ],
      "id": "d562a7cc-6b54-4d29-86e4-9adc6b4eef94",
      "name": "When clicking ‘Execute workflow’"
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "c1b6481e-8c15-4738-9696-53841b59673d",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        208,
        0
      ],
      "id": "96950114-ccd4-4502-b606-125254534b1b",
      "name": "Webhook",
      "webhookId": "c1b6481e-8c15-4738-9696-53841b59673d"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "dfb89787-5c0f-4200-9b60-b14e44e89129",
              "name": "extracted_text",
              "value": "={{$node[\"OCR Request\"].json[\"ParsedResults\"].map(p => p[\"ParsedText\"]).join(\"\\n\\n\").trim() || \"No text extracted\"}}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        624,
        0
      ],
      "id": "b31ba7c0-3991-46e0-a264-bdeeaaaa6993",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "operation": "upload",
        "bucketName": "aadam-ocr-pipeline-20261",
        "fileName": "={{$binary.file.fileName}}",
        "binaryPropertyName": "file",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.awsS3",
      "typeVersion": 2,
      "position": [
        576,
        192
      ],
      "id": "7e5e9072-738e-412a-9cd4-a8fcfa2544c6",
      "name": "Upload a file",
      "credentials": {
        "aws": {
          "id": "Sl6EKYRdBrcMt3ZK",
          "name": "AWS (IAM) account 2"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const text = $json.extracted_text;\n\n// split into chunks of ~500 characters\nconst chunkSize = 500;\n\nconst chunks = [];\n\nfor (let i = 0; i < text.length; i += chunkSize) {\n  chunks.push({\n    content: text.substring(i, i + chunkSize)\n  });\n}\n\nreturn chunks.map(chunk => ({ json: chunk }));"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        832,
        0
      ],
      "id": "b8b2c138-f75f-43d7-95c1-ec0789d19dd3",
      "name": "Code in JavaScript"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://ftooudgweksjgvkkpgdf.supabase.co/rest/v1/documents",
        "sendHeaders": true,
        "specifyHeaders": "json",
        "jsonHeaders": "{\n  \"apikey\": \"YOUR_SUPABASE_ANON_KEY\",\n  \"Content-Type\": \"application/json\",\n  \"Prefer\": \"return=representation\"\n}",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "=content",
              "value": "={{$json.content}}"
            },
            {
              "name": "embedding",
              "value": "={{$json.embedding.values}}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        1408,
        160
      ],
      "id": "4abac5bd-ad3c-4b2b-b95c-02dfe43ede26",
      "name": "Supabase Insert"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://generativelanguage.googleapis.com/v1beta/models/gemini-embedding-001:embedContent",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "key",
              "value": "YOUR_GOOGLE_API_KEY"
            }
          ]
        },
        "sendHeaders": true,
        "specifyHeaders": "json",
        "jsonHeaders": "{\n  \"Content-Type\": \"application/json\"\n}",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"content\": {\n    \"parts\": [\n      {\n        \"text\": {{ JSON.stringify($json.content) }}\n      }\n    ]\n  },\n  \"output_dimensionality\": 1536\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        1088,
        0
      ],
      "id": "f0c7c1b5-b1be-4fdc-b20d-71a4627de738",
      "name": "Google API Embedding"
    },
    {
      "parameters": {
        "mode": "combine",
        "combineBy": "combineByPosition",
        "options": {}
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        1232,
        160
      ],
      "id": "740b77ee-8930-4d06-aded-cd64fc6a5527",
      "name": "Merge"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.ocr.space/parse/image",
        "sendBody": true,
        "contentType": "multipart-form-data",
        "bodyParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "YOUR_OCRSPACE_API_KEY"
            },
            {
              "parameterType": "formBinaryData",
              "name": "file",
              "inputDataFieldName": "file"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        416,
        0
      ],
      "id": "266982d5-0558-49c8-9819-aa88bfd83039",
      "name": "OCR Request"
    }
  ],
  "pinData": {},
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "OCR Request",
            "type": "main",
            "index": 0
          },
          {
            "node": "Upload a file",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "Code in JavaScript",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript": {
      "main": [
        [
          {
            "node": "Google API Embedding",
            "type": "main",
            "index": 0
          },
          {
            "node": "Merge",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google API Embedding": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Merge": {
      "main": [
        [
          {
            "node": "Supabase Insert",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OCR Request": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "versionId": "b9df93df-1ad7-46fb-96a3-fab3fff8a1c2",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "6f28a6edc5c8ad0ff4485e1d023fe717b60c6187be943b91d59ba9521b0dea9e"
  },
  "id": "BdgHSbneHE9aPGJm",
  "tags": []
}
